h1 {
    color: blueviolet;
    font-size: 40px;
}
p {
    color: darkmagenta;
    font-size: 22px;
}
body {
    background-color: lavender;
    color: gray;
}
.first {
    font-size: 34px;
}
.second {
    font-size: 38px;
    text-align: center;
    color: blue;
}